.progress-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--lightGreen);
	height: 100px;
}
.reset-form-container {
	background-color: var(--lightGreen);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	> div {
		width: 300px;
		overflow: hidden;
		display: flex;
		> div {
			transition: 0.3s;
			form {
				margin-top: 20px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 300px;
				> p {
					color: var(--green);
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 5px;
					> span {
						font-size: 14px;
						font-style: italic;
					}
				}
				> input {
					width: 100%;
					padding: 8px 15px;
					font-family: "Roboto";
					margin: 10px 0px;
					margin-top: 10px;
					border: 1px solid var(--green);
					background: transparent;
					border-radius: 5px;
					outline: none;
					font-size: 18px;
					color: var(--green);
					text-align: start;
				}
				input::placeholder {
					color:var(--hoverGreen);
					opacity: 0.7;
				}
				> button {
					width: 50%;
					margin: 10px 0px;

					> h2 {
						> i {
							margin-left: 10px;
						}
					}
				}
			}
		}
	}
	.email-form {
		display: block;
	}
	.m-00 {
		margin-left: -00px;
	}
	.m-300 {
		margin-left: -300px;
	}
	.m-600 {
		margin-left: -600px;
	}

	.otp-verify-form {
		transition: 0.3s;
		display: block;
	}
	.reset-password-form {
		transition: 0.3s;
		display: block;
	}
}
