.other_container{
	width: 300px;
	border: none;
	border-top: 2px solid #EBEBEB;
    display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	>legend{
		width: 50px;
		padding:0 15px;
		margin: 0 auto;
		font-size: 20px;
	}
	>p{
		font-size: 14px;
		.login{
			color: blue;
			text-decoration: none;
			font-size: 16px;
		}
	}
	>button{
		// color:#008894;
		padding: 10px;
		border-radius: 7px;
		border: none;
		// border:solid 1px #008894;
		background: #EBEBEB;
		// font-size: 20px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		font-weight:600;
		>svg{
			margin-left: 5px;
			width: 1.7em;
			height: 1.7em;
		}

	}
}
