.other_container {
	width: 300px;
	border: none;
	border-top: 2px solid var(--lightGray);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	> legend {
		width: 50px;
		padding: 0 15px;
		margin: 0 auto;
		font-size: 20px;
	}
	> p {
		font-size: 14px;
		margin: 10px 0px;
		.login {
			color: var(--green);
			text-decoration: none;
			font-size: 16px;
			padding-left: 10px;
		}
	}
	> div {
		
		height: 44px;
		width: 100%;
		border: 2px solid var(--green);
		background-color: var(--white);
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		>div{
			border: none;
			width: 100%;
			.S9gUrf-YoZ4jf{
				border: none;
				width: 100%;
			}
		}
	}
}
