.text_container {
    margin: 10px 0;
    >p{
       
    }
}
.otp_fill{
    width: 40px;
    margin-left: 8px;
    height: 90%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 3px solid var(--lightGray);
    padding:0  10px;
    font-size: 17px;
    overflow: hidden;
    // border-radius: 10px;
    // -moz-appearance': 'textfield'
    
    //for remove increment-decrement option in number ..
    &::-webkit-inner-spin-button{
        appearance: none;
    }
}

#action_otp{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    // padding:0 30px;
    justify-content: space-between;
    >button{
        width: 130px;
        
    }
}