.leaderBoard_mainDiv {
  margin-top: 1rem;
  border: 2px solid var(--green);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  // width: max-content;
  padding: 0.5rem;
  @media screen and (max-width: 450px) {
    flex-direction: row;
    width: 100%;
  }
}

.User_Info{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-inline: .5rem;
  & .User_Img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  & .info{
    color: var(--green);
    margin-inline:  1rem;
  }

  & .user_name{
    font-weight: bold;
  }

  & .Inst_Name{
    font-size: 0.8rem;
  }
}

.Rank_info{
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & .LL_logo{
    border-radius: 50%;
    height: 30px;
    width: 50px;
    background-color: var(--green);
  }

  & .user_coin{
    padding: 0.5rem;
  }
}

// .User_SN {
//   margin-top: 1rem;
//   margin-left: 1rem;
//   @media screen and (max-width: 450px) {
//     margin-top: 0;
//     margin-left: 0;
//   }
// }

// .User_Img {
//   border-radius: 50%;
//   height: 50px;
//   width: 50px;
//   // margin-left: 2rem;
// }

// .User_Info{
//   display: flex;
//   flex-direction: column;
//   width: max-content;

//   // margin-left: 1rem;
// }
// .user_name{
//   font-weight: bold;
//   width: 100% !important;
//   display: block;
// }
// .Inst_Name{
//   color: #008894;
// }
// .LL_logo {
//   border-radius: 50%;
//   height: 30px;
//   width: 50px;
//   background-color: #008894;
//   margin-top: 8px;
//   // margin-left: 18rem;
// }

// .user_coin {
//   color: #FFAC07;
//   font-weight: bold;
//   margin: 1rem;
//   margin-top: 10px;
//   // margin-left: 0.5rem;
// }

// // @media screen and (min-width: 425px){
// //   .LL_logo{
// //     margin-left: 10rem;
// //   }
// // }
